@font-face {
    font-family: 'Ac437 Robotron A7100';
    src: url('Ac437_Robotron_A7100.woff') format('woff'),
        url('Ac437_Robotron_A7100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

